.chat
  .chat-like
    padding: 10px 15px
    background-color #ffffff
    .ob-title
      border-left: 2px solid rgba(0, 160, 220, .6)
      padding-left: 10px
      font-size: 12px;
      position relative
      .more
        color: #666
        position absolute
        right: 0;
        top: -5px;
        .fa
          font-size 25px
          vertical-align sub
          padding-left: 5px
    .mine-like
      white-space nowrap
      margin-top: 20px
      overflow-x auto
      .ob-item
        display: inline-block
        text-align center
        margin-right: 20px
        img
          height: 30px
        span
          display: block
          font-size 10px
          color: #333
  .repeat
    margin-top 20px
    background-color #ffffff
    padding: 5px 0
    .ob-title
      border-left: 2px solid rgba(0, 160, 220, .6)
      font-size: 12px;
      margin: 10px 15px 10px 15px
      padding-left: 10px
    li
      border-bottom 1px solid #f0f0f0
      display: flex
      padding: 10px
      .pic
        flex: 0 0 50px
        img
          width: 40px
          height: 40px
          border-radius 50%
      .text
        flex: 1
        .name
          font-size 12px
        .content
          font-size 14px
        .img
          width: 100%
          img
            width: 32%
            float: left
            margin-left: 1%
          img:nth-of-type(1)
            margin 0
        .bottom-tips
          font-size 12px
          margin-top: 10px
          color: #666
          .loop
            float: right
    li:last-of-type
      border: none
  .loading
    text-align center
    padding: 10px 0
    span
      display: inline-block
      color: #666666
      font-size 14px
    .loading-text
      vertical-align super
      margin-left: 10px

